/* General Style */

main {
  height: 115rem;
  bottom: 0;
}

main#dash-img {
  background: url(../../../img/bg/dash.jpg);
  background-attachment: relative;
  background-size: cover;
}

/* COMPONENT */

.tile {
  margin: 3rem 3rem;
}

.btn {
  font-size: 3rem;
}
