/* General Style */

main {
  height: 115rem;
  bottom: 0;
}

main#dash-img {
  background: url(../../../img/bg/dash.jpg);
  background-attachment: relative;
  background-size: cover;
}

/* COMPONENT */

.container {
  background: var(--bg-fade);
  height: 100%;
}

.header {
  grid-area: header;
  bottom: 0;
  align-self: start;
}

.tile {
  margin: 3rem 3rem;
}

.lg-heading {
  font-size: 5rem;
  text-align: center;
  padding: 1rem 1rem;
  color: #fff;
}

.sm-heading {
  margin-bottom: 2rem;
  padding: 0.2rem 1rem;
  background: var(--light);
}

.btn {
  font-size: 3rem;
}
