 <!-- About -->
 <section class="content-section bg-light" id="about">
    <div class="container text-center">
      <div class="row no-gutters">
        <div class="col-lg-10 mx-auto">
          <h2 class="mb-5">About Me</h2>
        </div>
      <div class="container">
          <div class="row">
              <div class='col-sm'>
                  <img class="img-thumbnail about-image" src="img/IMG_6934.jpg" alt="">
              </div>
              <div class="col-sm">
                  <p class="lead mb-5">I am currently studing Robotics Engineering at Worcester Polytechnic Institute. In my free time, I enjoy playing squash, hiking and photography. <br> 
                      </p>
                      <a class="btn btn-dark btn-xl js-scroll-trigger" href="https://www.linkedin.com/in/daniel-shrives-760215121/">Linkedin</a>
              </div>
          </div>
      </div>  
      </div>
  </div>
  </section>