<main id="about-img">
    <div class="container">
        <h1 class="lg-heading">
            <span class="text-secondary">About </span>Rowing Telemetry Systems
        </h1>
        <h2 class="sm-heading">
            A brief description...
        </h2>

        <div class="block">
            <div class="main-text">
                <p>
                    Rowing Telemetry Systems (RTS) is an investigation into the possibility of producing low-cost
                    instrumented
                    oarlocks for competitive racing shells. Affordable instrumented oarlocks, accessible to High School
                    and
                    College level clubs would provide a significant competitive advantage. The RTS team strives to meet
                    the
                    following goals,
                </p>
                <ul>
                    <li>
                        Oarlocks must sell for significantly less than any competition, the team is motivated produce
                        an oarlock that can be retailed for a tenth of the average competition price.
                    </li>
                    <li>
                        Create a new force measuring architecture to mechanically isolate forces perpendicular to the
                        oar shaft, providing significantly more precise force values.
                    </li>
                    <li>
                        Integrate an angle sensor accurate to a quarter of a degree, capable of handling 5+ million
                        cycles.

                    </li>
                    <li>
                        Provide novel metrics, giving coaches and rowers tangible value to gauge progress.
                    </li>
                    <li>
                        Create an oarlock that will be significantly easier to install and operate; reducing
                        installation time to under 1 minute by eliminating the need to calibrate.
                    </li>
                    <li>
                        Considerably more visually pleasing than any instrumented oarlock on the market, creating a
                        product that looks to be designed for instrumentation in mind.
                    </li>
                </ul>
            </div>
        </div>

        <div class="block">
            <div class="main-text">
                <p>
                    Prototype Oarlock Design
                </p>
            </div>
            <div class="main-images">
                <div class="oarlock">
                    <img src="oarlock.png" alt="Oarlock">
                </div>
                <div class="oarlock-frame">
                    <img src="oarlock-frame.png" alt="Oarlock-Frame">
                </div>
            </div>
        </div>

        <div class="block">
            <div class="main-text">
                <p>
                    The purpose of this website is to facilitate the widespread testing of prototype oarlocks by
                    providing a platform for rudimentary stroke analysis and data collection. All data collected
                    through this website will be evaluated with the goal of continually improving hardware, firmware
                    and software.
                </p>

                <p>
                    For further information contact: <b>info@rowingts.com</b>
                </p>
                <p>
                    For bugs or errors found while navigating the site contact: <b>webdev@rowingts.com</b>

                </p>

            </div>
        </div>


    </div>
</main>