/* General Style */

main {
  height: 115rem;
}

main#gen-img {
  background: url(../../../img/bg/gen.jpg);
  background-attachment: relative;
  background-size: cover;
}

/* COMPONENT */

.list-group {
  background: var(--light);
  padding: 1rem 2rem;
  box-shadow: var(--shadow);
}

.list-group-item {
  margin: 1rem 1rem;
  font-size: 1.5rem;
}
