<main id="gen-img">
  <div class="container">

    <a class="btn btn-primary" [routerLink]="['/sessions']">Go Back</a>

    <div class="block">
      <h1 class="lg-heading">{{session.name}}</h1>
      <h3 class="sm-heading">Date Recorded: {{session.record_date}}</h3>
      <h3 class="sm-heading">Type of Recording: {{session.session_type}}</h3>
      <canvas baseChart width="600" height="400" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
        [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)">
      </canvas>

      <div class="pull-right">
        <a class="btn btn-warning" href="sessions/edit/{{session._id}}">Edit Details</a> |
        <a class="btn btn-danger" href="sessions" (click)="this.deleteSession()">Delete Session</a>
      </div>
    </div>

  </div>
</main>