/* General Style */

main {
  height: 88rem;
}

main#gen-img {
  background: url(../../../img/bg/gen.jpg);
  background-attachment: relative;
  background-size: cover;
}

/* COMPONENT */

.lg-heading {
  color: var(--dark);
}

.block {
  background: var(--light);
}
