.sticky-footer {
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 5%; /* Set the fixed height of the footer here */
  color: var(--light);
  background: var(--dark);
}

.icons {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.icons h3 {
  color: #fff;
}

.icons a {
  color: #fff;
}

.icons a:hover {
  color: var(--fancy);
}

.icons h3:hover {
  text-decoration: none;
  color: var(--fancy);
}
