.sticky-footer {
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 8rem; /* Set the fixed height of the footer here */
  background-color: #5e5e5e;
}

footer .icons {
  margin-top: 1rem;
}
foter .icons a {
  padding: 0.4rem;
}
footer .icons a:hover {
  color: #fff;
}
