footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 120px; /* Set the fixed height of the footer here */
  line-height: 30px; /* Vertically center the text there */
  background-color: #4a4a4a;
}

h3 {
  padding-top: 20px;
}
a .icons {
  padding: 0.4rem;
}

.icons a:hover {
  color: #fff;
}

main {
  padding: 4rem;
  min-height: calc(100vh - 120px);
}
main .icons {
  margin-top: 1rem;
}
main .icons a {
  padding: 0.4rem;
}
main .icons a:hover {
  color: #eece1a;
  transition: all 0.5s ease-out;
}
main#home {
  overflow: hidden;
}
main#home h1 {
  margin-top: 20vh;
}
