<div>
  <div class="jumbotron logo text-center">
    <h1>RTS Development App</h1>
    <h3 class="lead">An investigation into the feasibility and practicality of low-cost oarlock instrumentation.</h3>
    <div *ngIf="!authService.loggedIn()">
      <a class="btn btn-info" [routerLink]="['/register']">Register</a>
      <a class="btn btn-primary" [routerLink]="['/login']">Login </a>
    </div>
    <div *ngIf="authService.loggedIn()">
      <a class="btn btn-primary btn-lg" [routerLink]="['/sessions']">View Data</a>
    </div>
  </div>
</div>